<div class='pure-u-1 center'>
  <h1>Sign up</h1>
  <% if @admin.errors.any? %>
    <div class='errors-container'>
      <% @admin.errors.full_messages.each do |message|%>
        <p><%= message %></p>
      <%end%>
    </div>
  <%end%>
  <div class='form-container background-white'>
    <%= form_with model: @admin, class: 'pure-form pure-form-stacked' do |f| %>
      <%= f.label :username, 'Username' %>
      <%= f.text_field :username %>
      <%= f.label :email, 'Email' %>
      <%= f.text_field :email %>
      <%= f.label  :password, 'Password' %>
      <%= f.password_field :password %>
      <%= f.submit 'Create admin account' %>
    <% end %>
  </div>
</div>
