<div class='pure-u-1 center'>
  <h1>Edit dimension with id <%= @dimension.id %> for product <%= @dimension.product_id %></h1>
  <%= render partial: 'shared/errors', locals: {model: @dimension} %>
  <div class='form-container background-white'>
    <%= form_with model: @dimension, class: 'pure-form pure-form-stacked' do |f| %>
      <%= render partial: 'dimension_fields', locals: {form: f} %>
      <%= f.submit 'Update dimension' %>
    <% end %>
    <% if @dimension.product.dimensions.count > 1 %>
      <%= button_to 'Destroy this dimension', dimension_path(@dimension), method: 'delete' %>
    <% end %>
  </div>
  <div class='edit-links'>
    <%= link_to "Go to edit form for product #{@dimension.product_id}", edit_product_path(@dimension.product_id) %>
    <% @dimension.product.dimensions.each do |dimension| %>
      <%= dimension.id != @dimension.id ? (link_to "Go to edit form for dimension #{dimension.id} of product #{dimension.product_id}", edit_dimension_path(dimension)) : nil %>
    <% end %>
    <%= link_to "Go to edit form for price modifier of dimension #{@dimension.id} of product #{@dimension.product_id}", edit_price_modifier_path(@dimension.price_modifier) %>
  </div>
</div>
