<div class='pure-u-1 center'>
  <h1>New dimension for product <%= @product_id %></h1>
  <%= render partial: 'shared/errors', locals: {model: @dimension} %>
  <div class='form-container background-white'>
    <%= form_with model: @dimension, url: category_product_dimensions_path(@category_id, @product_id), class: 'pure-form pure-form-stacked' do |f| %>
      <%= render partial: 'dimension_fields', locals: {form: f} %>
      <%= f.fields_for :price_modifier, PriceModifier.new do |price_modifier_form| %>
        <%= render partial: 'price_modifiers/price_modifier_fields', locals: {form: price_modifier_form} %>
      <% end %>
      <%= f.submit 'Create dimension' %>
    <% end %>
  </div>
</div>
