<div class='pure-u-1 center'>
  <h1>Edit account info</h1>
  <%= render partial: 'shared/errors', locals: {model: @user} %>
  <div class='form-container background-white'>
    <%= form_with model: @user, url: user_path(@user), method: 'patch', class: 'pure-form pure-form-stacked' do |f| %>
      <%= f.label :email, 'Email' %>
      <%= f.text_field :email %>
      <% if !@admin %>
        <%= f.label  :password, 'Current password' %>
        <%= f.password_field :password %>
        <%= f.label  :new_password, 'New password' %>
        <%= f.password_field :new_password %>
      <% end %>
      <% if @admin %>
        <%= f.label  :password, 'Password' %>
        <%= f.password_field :password %>
      <% end %>
      <%= f.submit 'Update account info' %>
    <% end %>
  </div>
</div>
