<%= javascript_pack_tag 'productCard' %>
<%= stylesheet_pack_tag 'productCard' %>
<div class='pure-u-1 center'>
  <div class='display-flex'>
    <% @quantities.each do |quantity| %>
      <div>
        <p>Purchased <%= quantity.amount %> time<%= quantity.amount != 1 ? 's' : nil %></p>
        <%= react_component('ProductCard',
        full_size: false, 
        name: quantity.product.name, 
        id: quantity.product.id, 
        description: quantity.product.description, 
        price: quantity.product.price, 
        price_unit: quantity.product.price_unit, 
        url: category_product_url(quantity.product.category, quantity.product), 
        image: url_for(quantity.product.image.variant(resize_to_limit: [480, 720]).processed), 
        thumbnail: url_for(quantity.product.image.variant(resize_to_limit: [960, 1440]).processed), 
        thumbnail_medium: url_for(quantity.product.image.variant(resize_to_limit: [1440, 2160]).processed), 
        dimensions_json: quantity.product.dimensions_json, 
        lightbox: false, 
        class_name: 'corner-rounded padding-1 margin-1 background-white' ) %>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_category_product_path(quantity.product.category_id, quantity.product), class: 'pure-button margin-top-2' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
