<%= javascript_pack_tag 'categorySlider' %>
<%= stylesheet_pack_tag 'categorySlider' %>
<div class='pure-u-1-4 background-white padding-1 center center-children fit-content margin-vertical-1 shadow corner-rounded'>
  <h1 class='margin-0 horizontal-padding-1 uppercase'><%= @category.name %></h1>
  <p class='margin-0 horizontal-padding-1 subheading'><%= @category.description %></p>
</div>
<div class='pure-u-1'>
  <%= react_component('CategorySlider', lazy: 'progressive', description: false, autoplay: true, arrows: true, dots: true, infinite: false, speed: 350, slides_to_show: 3, slides_to_scroll: 1, json: @category.slider_props_json) %>
  <% if admin_signed_in? %>
    <div class='column center padding-1 margin-vertical-1'>
      <%= link_to 'Edit category', edit_category_path(@category), class: 'pure-button margin-vertical-1' %>
      <%= link_to 'New product', new_category_product_path(@category), class: 'pure-button margin-vertical-1' %>
    </div>
  <% end %>
</div>
