<div class='pure-u-1 center'>
  <h1>New product</h1>
  <%= render partial: 'shared/errors', locals: {model: @product} %>
  <div class='form-container background-white'>
    <%= form_with model: @product, url: category_products_path(@category_id), class: 'pure-form pure-form-stacked' do |f| %>
      <fieldset>
        <%= render partial: 'product_fields', locals: {form: f} %>
        <%= f.collection_select :category_id, Category.order(:id), :id, :name, {selected: @category_id} %>
      </fieldset>
      <%= f.fields_for :dimensions, @product.dimensions.build do |dimension_form| %>
        <fieldset>
          <legend>Dimension <%= dimension_form.index + 1 %></legend>
          <%= render partial: 'dimensions/dimension_fields', locals: {form: dimension_form} %>
          <%= dimension_form.fields_for :price_modifier, PriceModifier.new do |price_modifier_form| %>
            <%= render partial: 'price_modifiers/price_modifier_fields', locals: {form: price_modifier_form} %>
          <% end %>
        </fieldset>
      <% end %>
      <%= f.submit 'Create product' %>
    <% end %>
  </div>
</div>
