<%= javascript_pack_tag 'productCard' %>
<%= stylesheet_pack_tag 'productCard' %>
<div class='pure-u-1 center margin-vertical-1'>
  <%= render partial: 'product_card', locals: { model: @product, full_size: true, show_description: true, lightbox: true,
  class_name: 'corner-rounded margin-auto padding-1 full-size background-white' } %>
</div>
<% if admin_signed_in? %>
  <div class='pure-u-1 padding-1 column center center-children'>
    <%= link_to 'Edit product', edit_product_path(@product), class: 'pure-button margin-vertical-1 fit-content' %>
    <%= link_to 'Add new dimension', new_category_product_dimension_path(@product.category_id, @product), class: 'pure-button margin-vertical-1 fit-content' %>
    <% @product.dimensions.each.with_index(1) do |dimension, index| %>
      <%= link_to "Edit dimension #{index}", edit_dimension_path(dimension), class: 'pure-button fit-content margin-vertical-1' %>
    <% end %>
  </div>
<% end %>
